{{template "header"}}
		<title>首页 -- 我的beego博客</title>
</head>

	<body>
body{ padding-top: 70px; }
	<div class="navbar navbar-default navbar-fixed-top">
		{{template "navbar" .}}
	</div>

	<div class="page-header">
		<h1>我的第一篇博客</h1>
		<h6 class="text-muted">文章发表于 2017年XX月XX日 XX:XX 共有100次浏览， 200个评论</h6>
		<p>
		 大家好，这是我的第一篇博客，谢谢浏览!
		</p>
	</div>

		<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	</body>
</html>
