{{template "header"}}
<title>{{.TitleView.Title}} -- 我的beego博客</title>
<style>
.col-center-block {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
	{{template "navbar" .}}
</div>

<form method="POST" action="/topicView?tid={{.TitleView.Id}}">
<div class="container">
	<div class="col-center-block">
		<div class="page-header">
			<h1 style="font-size:80px">{{.TitleView.Title}}</h1>
			<h6 class="text-muted">文章发表于 {{.TitleView.Created}} 共有{{.TitleView.Views}}次浏览， {{.TitleView.ReplyCount}}个评论</h6>
			<p>
			<label style="font-size:40px">{{.TitleView.Content}}</label>
			</p>
		</div>
	</div>
</div>

{{range .Replys}}
<div class="container">
	<p>
	<label style="font-size:20px">{{.Content}}</label>
	</p>
</div>
{{end}}

<button type="submit" class="btn btn-default" onclick="return checkInput();">添加评论</button>
<input type="hidden" name="op" value="add" name="rp_title" value="{{.TitleView.Title}}">
<div class="form-group">
	<textarea id="rp_content" name="rp_content" cols="30" rows="10" class="form-control"></textarea>
</div>

</form>

<script type="text/javascript">
function checkInput(){
	var ctx= document.getElementById("rp_content");
	if (ctx.value.length == 0){
		alert("请输入评论内容！")
			return false
	}
	return true
}

</script>



<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
</body>
</html>
